.header {
  height: var(--navbar-height);
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: var(--background-color);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-weight: 600;

  & > :nth-child(1) {
    flex-basis: 80%;
  }

  & > :nth-child(2) {
    flex-basis: 10%;
  }

  .add-button {
    background-color: var(--yellow-color);
    display: flex;
    align-items: center;

    svg {
      width: 32px;
    }
  }
}
