.form {
  width: 460px;

  h2 {
    text-align: center;
  }

  textarea {
    height: 100px;
  }

  input[type='text'],
  textarea {
    margin-bottom: 10px;
  }

  input[type='submit'] {
    margin-top: 15px;
    background-color: var(--yellow-color);
  }

  .error {
    color: var(--error-color);
  }
}

@media (max-width: 600px) {
  .form {
    width: 100%;
  }
}
